body {
    color: #ffffff;
    background-color: #1a1a1a;
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif
}
h1 {
    font-size: clamp(2.5rem, 5.3vw, 4.5rem);
}
td, tr, th {
    padding: 10px 10px 10px 10px;
    font-size: clamp(1rem, 2.3vw, 1.7rem);
    text-align: center;
    align-items: center;
    border-width: 5px;
    border-color: #ffffff;
    border-style: solid;
}
table {
    border-radius: 15px;
    border-color: #ffffff;
    border-style: solid;
    border-width: 5px;
    overflow: hidden;
    border: collapse;
    border-spacing: 0;
}
#tabela_projektow {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
